Repository voxpupuli/puppet-pxe, pull requests merged in 2020-01, with the labels that each got.

#52 modulesync 2.10.1
  .editorconfig
  .env.sh
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .overcommit.yml
  .rubocop.yml
  .sync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Jenkinsfile
  README.md
  Rakefile
  metadata.json
  spec/spec_helper.rb
Labels: backwards-incompatible

#53 Release 2.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#39 create tftp_root dir without conflict
  manifests/syslinux.pp
Labels: bug
